<div class="content-div">
  <form   >
    <label for="name">Dê um nome para seu formulário:</label>
    <input type="text" id='nome' ngClass="campo-texto" name='nome' required>


    <hr>

    <div class="form-group check-box-container">

      <label> Como deseja criar o seu formulário:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="form-checkbox" id="form-checkbox1">
        <label class="form-check-label " for="form-checkbox1">
         Iniciar do Zero
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="form-checkbox" id="form-checkbox2" >
        <label class="form-check-label " for="form-checkbox2">
        Usar formulário pré existente
        </label>
      </div>
</div>


<div class="form-group check-box-container">

  <label> Esse formulário será para qual tipo de projeto?:</label>
  <div class="form-check">
    <input class="form-check-input mb-1" type="radio" name="projeto-checkbox" id="projeto-checkbox1">
    <label class="form-check-label " for="projeto-checkbox1">
    Projeto Residencial
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input mb-1" type="radio" name="projeto-checkbox" id="projeto-checkbox2" >
    <label class="form-check-label " for="projeto-checkbox2">
    Projeto comercial /corporativo
    </label>
  </div>
</div>

    </form>

</div>
