
.content-div{
  background-color:#858484;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;

}


.logo{
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-image: url("/assets/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  margin-left: 120px;
  margin-bottom: 20px;
}

.text-center{
  display: flex;
  justify-self: center;
}

.form-group{

  width: 400px;
}

.content-div label{
  display: flex;
  color: white;
  margin-left: 50px;
}


.content-div input{
  border-radius: 5px;
  border: none;
  padding: 10px 5px;
  background: #e8e0e0;
  outline: none;
  border: 2px solid #E9CB5D;
  font-weight: 200;
  font-size: 16px;
  height: 40px;
  width: 300px;
  margin-left: 50px;
}


.btn{
  background: #E9CB5D;
  display: block;
  border: none;
  padding: 10px 40px;
  max-width: 16rem;
  margin:30px auto 15px auto;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.btn:hover{
  background: #f1c522;
}
