<div ngClass="content-div">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Status </th>
        <th scope="col">Data de Envio</th>
        <th scope="col">Data de resposta</th>

        <td>Opções</td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Respondido</td>
        <td>03/03/21</td>
        <td>07/03/21</td>

        <td ngClass="option">

         <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>


      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Respondido</td>
        <td>03/03/21</td>
        <td>07/03/21</td>

        <td ngClass="option">

         <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>


      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Respondido</td>
        <td>03/03/21</td>
        <td>07/03/21</td>

        <td ngClass="option">

         <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>


    </tbody>
  </table>


</div>

