<div ngClass="content-div">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Projeto</th>
        <th scope="col">Cliente</th>
        <td>Opções</td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Fulano de tal</td>

        <td>

         <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Fulano de tal</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
         </td>
      </tr>


      <tr>
        <th scope="row">Projeto XYZ</th>
        <td>Fulano de tal</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
         </td>
      </tr>


    </tbody>
  </table>


</div>

