<app-navbar></app-navbar>
<div class="container">
  <section ngClass="content">

    <div ngClass="cabecalho">
      <div ngClass="logo">
        <img src="assets/logo.png">
      </div>

      <div ngClass="nome-cabecalho">
        <p ngClass="nome-login mt-2">Bem Vindo,<span>Fulano</span></p>
        <div ngClass="img-cabecalho">
            <button mat-mini-fab mat-button [matMenuTriggerFor]="menu" color="warn">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Meu Perfil</button>
              <button mat-menu-item>Sair</button>
            </mat-menu>
        </div>
      </div>
    </div>

<br>
<br>

    <div ngClass="content-div">


      <router-outlet></router-outlet>

    </div>




<div class="suporte">
  <p>Precisa de suporte?<span>Abrir um chamado</span></p>
</div>

</section>
</div>
