<div ngClass="content-div">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Contato</th>
        <td>Opções</td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Fulano 1</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>

        <td>

         <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 2</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
         </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>

      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" (click)="verDados()" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>    <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>

      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Fulano 3</th>
        <td>123.456.789.12</td>
        <td>9876564321</td>
        <td>

          <button ngClass="control-btn" mat-flat-button color="primary">Ver Dados</button>
         <button ngClass="control-btn" mat-flat-button color="accent">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
